.startGame {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberLabel {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
}

#numberOfPlayers {
    width: 50px;
    height: 30px;
    font-size: 16px;
    margin: 0 10px;
    text-align: center;
    border-radius: 30px;
}

/*.startButton {
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}*/

.confirmationButton {
    background-color: #000;
    color: white;
    height: 30px;
    margin: 0 5px;
    font-size: large;
    font-weight: 300;
    border: none;
    border-radius: 10px;
}

.confirmationButton:hover {
    background-color: darkslategrey;
}

/*
.startButton:hover {
    background-color: #45a049;
}
*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    text-align: center !important;
    background-color: #9f4045;
    border-radius: 10px 10px 0 0;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    padding-top: 10px;
    text-align: center;
    font-size: large;
    color: black;
}

.modal-start-footer {
    text-align: center;
    padding: 5px 0;
    background-color: #9f4045;
    border-radius: 0 0 10px 10px;
    color: white;
}