td {
    height: 45px;
    border: 1px solid #DCDCDC;
    text-align: center;
    width: 200px;
}

th {
    padding: 15px;
    border: 1px solid #DCDCDC;
    text-align: center !important;
    height: 45px;
}

table {
    border-collapse: collapse;
    scale: 0.9;
}

td:hover {
    background-color: #e6e6e6;
}

tr.main-heading {
    line-height: 10%;
    background-color: #04AA6D;
}

td:first-child {
    background-color: #04AA6D;
    font-size: small;
}

td.secondColumn {
    background-color: #04AA6D;
    font-size: small;
}

button.btnAction {
    height: 100%;
    width: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

td.activeCol {
    background-color: lightgrey;
}

@font-face {
    font-family: 'glyphicon';
    src: url("assets/fonts/glyphicons-halflings-regular.woff2");
    font-weight: normal;
    font-style: normal;
}

.actionNavbar {
    overflow: hidden;
    background: linear-gradient(180deg, #333, #000)
}

.actionNavbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

.actionSubnav {
    float: left;
    overflow: hidden;
}

.actionSubnav .actionSubnavbtn {
    border: none;
    border-right: 1px solid #bbb;
    outline: none;
    color: white;
    padding: 14px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.actionNavbar a:hover, .actionSubnav:hover .actionSubnavbtn {
    background-color: #04AA6D;
}

.actionSubnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #04AA6D;
    width: 100%;
    z-index: 1;
}

.actionSubnav-content a {
    float: left;
    padding: 14px 18.5px;
    border: none;
    border-right: 1px solid #bbb;
    color: white;
    text-decoration: none;
}

.actionSubnav-content a:hover {
    background-color: #eee;
    color: black;
}

.actionSubnav:hover .actionSubnav-content {
    display: block;
}

.diceCupActionContainer {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}