body {
    font-family: "Ubuntu", "Verdana", "Arial", sans-serif;
    background-image: radial-gradient(forestgreen, black);
    /*background-repeat: no-repeat;*/
    color: white;
}

.navbar-nav {
    --bs-nav-link-color: none;
}

a.nav-link.active, a.navbar-brand.active {
    color: white !important;
    font-weight: 600;
}

a.dropdown-item.active {
    background-color: unset;
    /*color: transparent;*/
}

a.dropdown-item.active:hover, a.dropdown-item:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
    --bs-dropdown-link-active-color: var(--bs-nav-link-hover-color);
}

.dropdown-menu {
    --bs-dropdown-link-hover-color: var(--bs-nav-link-hover-color);
    --bs-dropdown-link-hover-bg: var(--bs-body-color);
    --bs-dropdown-link-color: var(--bs-white);
}