@(controller: de.htwg.se.kniffel.controller.controllerBaseImpl.Controller)
@main("HTWG Kniffel") {
    <div class="startGame">
        <label style="font-weight: 400" for="numberOfPlayers">Number Of Players</label>
        <input id="numberOfPlayers" type="number" min="2" max="8" value="2" />
        <button onclick="startGame()">Start Game</button>
        <script>
                function startGame() {
                    const numberOfPlayers = document.getElementById("numberOfPlayers").value;
                    fetch('/new?players=' + numberOfPlayers).then(response => {
                        if (!response.ok) {
                            console.error("Failed starting new game!");
                        } else {
                            window.location.href = '/kniffel'
                        }
                    });
                }
        </script>
    </div>
}
